h1{
    letter-spacing: 10px;
    font-size: 4rem;
}

header{
    background: linear-gradient(transparent, black), url(https://www.cia-france.fr/media/1492/les-films-incontournables-du-cinema-w_2524x884.jpg);
    background-size:cover;
    background-position: center;

}

body{
    background-color:black;
}

nav{
    z-index:999;
}
ul{
    list-style-type:none;
}

.footer-custom{
    height:300px;
}

@media screen and(max-width:670px) {
  h1{
    font-size: 2rem
  }  
}

.list-footer{
    justify-content:start !important;
}